@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.navbar {
  border: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  font-size: 24px;
}
.navbar-inverse .form-control {
  color: #fff;
}
.navbar-inverse .form-control::-moz-placeholder {
  color: #b2dbfb;
  opacity: 1;
}
.navbar-inverse .form-control:-ms-input-placeholder {
  color: #b2dbfb;
}
.navbar-inverse .form-control::-webkit-input-placeholder {
  color: #b2dbfb;
}
.navbar-inverse .form-control[type=text] {
  -webkit-box-shadow: inset 0 -1px 0 #b2dbfb;
  box-shadow: inset 0 -1px 0 #b2dbfb;
}
.navbar-inverse .form-control[type=text]:focus {
  -webkit-box-shadow: inset 0 -2px 0 #ffffff;
  box-shadow: inset 0 -2px 0 #ffffff;
}
.btn-default {
  background-size: 200%;
  background-position: 50%;
}
.btn-default:hover,
.btn-default:active:hover,
.btn-default:focus {
  background-color: #f0f0f0;
}
.btn-default:active {
  background-color: #f0f0f0;
  background-image: -webkit-radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
  background-image: radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-primary {
  background-size: 200%;
  background-position: 50%;
}
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus {
  background-color: #0d87e9;
}
.btn-primary:active {
  background-color: #0d87e9;
  background-image: -webkit-radial-gradient(circle, #0d87e9 10%, #2196f3 11%);
  background-image: radial-gradient(circle, #0d87e9 10%, #2196f3 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-success {
  background-size: 200%;
  background-position: 50%;
}
.btn-success:hover,
.btn-success:active:hover,
.btn-success:focus {
  background-color: #439a46;
}
.btn-success:active {
  background-color: #439a46;
  background-image: -webkit-radial-gradient(circle, #439a46 10%, #4caf50 11%);
  background-image: radial-gradient(circle, #439a46 10%, #4caf50 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-info {
  background-size: 200%;
  background-position: 50%;
}
.btn-info:hover,
.btn-info:active:hover,
.btn-info:focus {
  background-color: #862197;
}
.btn-info:active {
  background-color: #862197;
  background-image: -webkit-radial-gradient(circle, #862197 10%, #9c27b0 11%);
  background-image: radial-gradient(circle, #862197 10%, #9c27b0 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-warning {
  background-size: 200%;
  background-position: 50%;
}
.btn-warning:hover,
.btn-warning:active:hover,
.btn-warning:focus {
  background-color: #e08600;
}
.btn-warning:active {
  background-color: #e08600;
  background-image: -webkit-radial-gradient(circle, #e08600 10%, #ff9800 11%);
  background-image: radial-gradient(circle, #e08600 10%, #ff9800 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-danger {
  background-size: 200%;
  background-position: 50%;
}
.btn-danger:hover,
.btn-danger:active:hover,
.btn-danger:focus {
  background-color: #cb171e;
}
.btn-danger:active {
  background-color: #cb171e;
  background-image: -webkit-radial-gradient(circle, #cb171e 10%, #e51c23 11%);
  background-image: radial-gradient(circle, #cb171e 10%, #e51c23 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn {
  text-transform: uppercase;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link:hover,
.btn-link:focus {
  color: #2196f3;
  text-decoration: none;
}
.btn-default.disabled {
  border: 1px solid #eeeeee;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}
p {
  margin: 0 0 1em;
}
input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}
a {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
label {
  font-weight: normal;
}
textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
  font-size: 16px;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
}
textarea[disabled],
textarea.form-control[disabled],
input.form-control[disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=email][disabled],
input[type=number][disabled],
[type=text].form-control[disabled],
[type=password].form-control[disabled],
[type=email].form-control[disabled],
[type=tel].form-control[disabled],
[contenteditable].form-control[disabled],
textarea[readonly],
textarea.form-control[readonly],
input.form-control[readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=number][readonly],
[type=text].form-control[readonly],
[type=password].form-control[readonly],
[type=email].form-control[readonly],
[type=tel].form-control[readonly],
[contenteditable].form-control[readonly] {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px dotted #ddd;
}
textarea.input-sm,
textarea.form-control.input-sm,
input.form-control.input-sm,
input[type=text].input-sm,
input[type=password].input-sm,
input[type=email].input-sm,
input[type=number].input-sm,
[type=text].form-control.input-sm,
[type=password].form-control.input-sm,
[type=email].form-control.input-sm,
[type=tel].form-control.input-sm,
[contenteditable].form-control.input-sm {
  font-size: 12px;
}
textarea.input-lg,
textarea.form-control.input-lg,
input.form-control.input-lg,
input[type=text].input-lg,
input[type=password].input-lg,
input[type=email].input-lg,
input[type=number].input-lg,
[type=text].form-control.input-lg,
[type=password].form-control.input-lg,
[type=email].form-control.input-lg,
[type=tel].form-control.input-lg,
[contenteditable].form-control.input-lg {
  font-size: 17px;
}
select,
select.form-control {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
  padding-right: 0\9;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
  font-size: 16px;
  line-height: 1.5;
}
select::-ms-expand,
select.form-control::-ms-expand {
  display: none;
}
select.input-sm,
select.form-control.input-sm {
  font-size: 12px;
}
select.input-lg,
select.form-control.input-lg {
  font-size: 17px;
}
select:focus,
select.form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
}
select[multiple],
select.form-control[multiple] {
  background: none;
}
.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  padding-left: 25px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 5px;
  margin-right: 4px;
  vertical-align: -4px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before,
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2196f3;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  border: 2px solid #666666;
}
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #bbbbbb;
}
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #2196f3;
}
input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:after,
input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #bbbbbb;
}
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  vertical-align: -4px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666666;
  border-radius: 2px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #2196f3;
  border-color: #2196f3;
}
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #bbbbbb;
}
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #bbbbbb;
  border-color: transparent;
}
.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #ff9800;
  box-shadow: inset 0 -2px 0 #ff9800;
}
.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #e51c23;
  box-shadow: inset 0 -2px 0 #e51c23;
}
.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #4caf50;
  box-shadow: inset 0 -2px 0 #4caf50;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666666;
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
  color: #2196f3;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
  color: #2196f3;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus:hover {
  border: none;
  color: #2196f3;
}
.nav-tabs > li.disabled > a {
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
}
.nav-tabs.nav-justified > li > a,
.nav-tabs.nav-justified > li > a:hover,
.nav-tabs.nav-justified > li > a:focus,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: none;
}
.nav-tabs .dropdown-menu {
  margin-top: 0;
}
.dropdown-menu {
  margin-top: 0;
  border: none;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.alert {
  border: none;
  color: #fff;
}
.alert-success {
  background-color: #4caf50;
}
.alert-info {
  background-color: #9c27b0;
}
.alert-warning {
  background-color: #ff9800;
}
.alert-danger {
  background-color: #e51c23;
}
.alert a:not(.close),
.alert .alert-link {
  color: #fff;
  font-weight: bold;
}
.alert .close {
  color: #fff;
}
.badge {
  padding: 3px 6px 5px;
}
.progress {
  position: relative;
  z-index: 1;
  height: 6px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar:last-child {
  border-radius: 0 3px 3px 0;
}
.progress-bar:last-child:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #cae6fc;
}
.progress-bar-success:last-child.progress-bar:before {
  background-color: #c7e7c8;
}
.progress-bar-info:last-child.progress-bar:before {
  background-color: #edc9f3;
}
.progress-bar-warning:last-child.progress-bar:before {
  background-color: #ffe0b3;
}
.progress-bar-danger:last-child.progress-bar:before {
  background-color: #f28e92;
}
.close {
  font-size: 34px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.6;
}
.close:hover {
  opacity: 1;
}
.list-group-item {
  padding: 15px;
}
.list-group-item-text {
  color: #bbbbbb;
}
.well {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.panel-heading {
  border-bottom: none;
}
.panel-footer {
  border-top: none;
}
.popover {
  border: none;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption h6 {
  color: inherit;
}
