<%= @user.display_name %>様
 
AppsWork [アップスワーク] のユーザー登録が成功しました。
下記、リンクのクリックを行い、メールアドレスの認証をおこなってください。
<%= @emailurl %><%= @email_token %>

--------------------------------------
このメールアドレスは送信専用です。
返信頂いても受信できません。

このメールに身に覚えがない場合は 
inquiry@apps-work.com までお問い合わせください

