<%= @toUserName %>様

提案されたお仕事：<%= @workTitle %>が同意されました。

同意メッセージは下記リンクからご確認いただけます。
<%= @linkUrl %>

-- メッセージ(一部) --
<%= @content %>


--------------------------------------
このメールアドレスは送信専用です。
返信頂いても受信できません。

このメールに身に覚えがない場合は 
inquiry@apps-work.com までお問い合わせください

