<%= @toUserName %>様

提案受付中のお仕事：<%= @workTitle %>で
<%= @fromUserName %>さんから提案がされました。
提案内容は下記リンクからご確認いただけます。
<%= @linkUrl %>


-- 提案内容(一部) --
<%= @content %>


--------------------------------------
このメールアドレスは送信専用です。
返信頂いても受信できません。

このメールに身に覚えがない場合は 
inquiry@apps-work.com までお問い合わせください

