<%= @toUserName %>様

<%= @fromUserName %>さんからメッセージを受信しました。
受信内容は下記リンクからご確認いただけます。
<%= @linkUrl %>

-- 受信内容(一部) --
<%= @content %>


--------------------------------------
このメールアドレスは送信専用です。
返信頂いても受信できません。

このメールに身に覚えがない場合は 
inquiry@apps-work.com までお問い合わせください

