html {
	height: auto;
	font-family: sans-serif;
}

body {
	height: auto;
	font-size: 13px;
	overflow-x: hidden;
	padding-top: 80px;
	font-family: sans-serif;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"], 
textarea {
	font-size: 13px !important;
	border: 1px solid #ccc !important;
	border-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
	padding: 6px 12px !important;
	line-height: normal !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #66afe9 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

a {
	text-decoration: none;
}

span.red {
}

pre.back-none {
	background-color: white !important;
	border: 0 !important;	
	font-family: sans-serif !important;
}

.form-group {
	margin-bottom: 0px;	
}

.col-lg-8, .col-lg-7 {
	padding-left: 0;
}

.list-group-item {
  padding: 8px 10px;
}

.check_label {
	display: block;
	float: left;
	width: 90px;
}

.tooltip {
	z-index: 2000 !important;
}

.link {
}

.link-none {
}

.table thead th {
}

.table-responsive {
	overflow-y: auto;
	width: 101%;
}

.table-comment {
	height: 150px;
	border-spacing: 2px;
	box-shadow: 1px 0px 1px 0px #c7c7c7;
	border: 1px solid #c7c7c7;
}

p.comment {
	word-wrap: break-word;
	white-space: normal;
}

p.comment_nicname {
	font-size: 10px;
	text-decoration: underline;
	margin: 0 0 3px;;
}

.text-left {
	text-align: left !important;
}

hr {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

#wrap {
	/* Negative indent footer by it's height */
}

.navbar {
}

#push {
	height: 60px;
}

.navbar-inverse .navbar-nav > li > a {
}

.navbar-inverse {
}

.nav-top-custom {
	margin-bottom: 5px;
}

.alert-info {
	background-color: #2196f3;
}

.nav-title-left {
	margin-left: 10px !important;
}

.nav-title-text {
	font-size: 19px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
}

.dropdown {
	font-size: 15px;
}

.btn-primary.active {
}

.toggle-off.btn {
	padding-left: 10px;
}

.toggle-on.btn {
	padding-left: 10px;
}

.header_border_left {
	border-left: solid;
	border-width: 1px;
}

.header_border_right {
	border-right: solid;
	border-width: 1px;
}

.header_border_both {
	border-left: solid;
	border-right: solid;
	border-width: 1px;
}

.item {
	height: auto;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	padding-bottom: 5px !important;
}

.item .btn-default {
	box-shadow: 0px 1px 4px rgba(34,25,25,0.4);
}

.item_hr {
	border-top: 1px solid #D8D8D8 !important;
}
.item_link {
	text-decoration: none !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item_link:hover {
	text-decoration: none;
}

.item_main {
	padding: 5px;
	float: left;
	width: 100%;
}

.pin_image {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.item_text_header {
	text-align: center;
	margin-top: 15px !important;
	margin-bottom: 12px !important;
}

a.item_text_header {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333 !important;
	font-weight: 500;
	line-height: 1.1;
	text-decoration: underline;
}

.item_content {
	font-size: 12px;
	color: #333;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}

.item_center {
	font-size: 13px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	margin-bottom: 0px !important;
}

.item_bottom {
	font-size: 10px;
	margin-top: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: 500;
	text-align: center;
	margin-top: 12px !important;
	margin-bottom: 7px !important;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.footer_hr {
	margin-top: 30px !important;
	margin-bottom: 0 !important;
}

.footer_text {
	margin: 20px 0;
}
