<!DOCTYPE html>
<html lang="ja" ng-app="appswork" ng-controller="MainCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="アップスワークは無料で取引可能なクラウドソーシングサービスサイトです"/>
		<meta name="keywords" content="クラウドソーシング 仕事探し 発注　受注"/>
		<meta name="application-name" content="アップスワーク"/>
		<meta http-equiv="x-dns-prefetch-control" content="off"/>
		<meta http-equiv="X-FRAME-OPTIONS" content="DENY" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="X-Content-Type-Options" content="nosniff">
		<meta name="viewport" content="width=device-width">
		<title>アップスワーク[apps-work.com] | 無料クラウドソーシングサイト</title>
		<link rel="alternate" hreflang="ja" href="http://recommend-novel.com/" />
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/assets/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/assets/manifest.json">
		
		<base href="/">
		
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">
		
		<!-- <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> -->
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= stylesheet_link_tag "https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" %>
		<%= stylesheet_link_tag "main.css" %>

		<%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" %>
		
		<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js" %>
		<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js" %>
		<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/lang/ja.js" %>
		<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js" %>
		<%= javascript_include_tag "items/index.js" %>
		<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" %>
		<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js" %>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

		<%= javascript_include_tag "masonry.js" %>
		<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" %>
		<%= javascript_include_tag "jquery.blockUI.js" %>
		<%= javascript_include_tag "footerFixed.js" %>
		<%= javascript_include_tag "imagesloaded.pkgd.min.js" %>
		<%= javascript_include_tag "Chart.min.js" %>
		
		<%= javascript_include_tag "ng-upload/ng-upload.js" %>

		<script src="assets/app.js"></script>
		<script src="assets/model/model.js"></script>
		<script src="assets/service/service.js"></script>
		<script src="assets/controller/abstract.controller.js"></script>
		<script src="assets/controller/main.controller.js"></script>
		<script src="assets/controller/message.controller.js"></script>
		<script src="assets/controller/propose.ok.message.controller.js"></script>
		<script src="assets/controller/notice.controller.js"></script>
		<script src="assets/controller/index.controller.js"></script>
		<script src="assets/controller/user.regist.controller.js"></script>		
		<script src="assets/controller/user.login.controller.js"></script>
		<script src="assets/controller/work.recruit.controller.js"></script>
		<script src="assets/controller/work.detail.controller.js"></script>
		<script src="assets/controller/mypage.controller.js"></script>
		<script src="assets/controller/employer.controller.js"></script>
		<script src="assets/controller/connection.controller.js"></script>

		<%= csrf_meta_tags %>

		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] ||
				function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-52059753-6', 'auto');
			ga('send', 'pageview');

		</script>
	</head>
	<body>
		<%= render 'layouts/header' %>
		
		<div ng-view></div>
		
		<%= render 'layouts/footer' %>
	</body>
</html>
